<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicioAlumno" />
        <binding name="BasicHttpBinding_IServicioCurso" />
        <binding name="BasicHttpBinding_IServicioDocente" />
        <binding name="BasicHttpBinding_IServicioUsuario" />
        <binding name="BasicHttpBinding_IIServicioExtra" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_Colegio/ServicioAlumno/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioAlumno" contract="ProxyAlumno.IServicioAlumno" name="BasicHttpBinding_IServicioAlumno" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_Colegio/IServicioExtra/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIServicioExtra" contract="ProxyExtra.IIServicioExtra" name="BasicHttpBinding_IIServicioExtra" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_Colegio/ServicioUsuario/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioUsuario" contract="ProxyUsuario.IServicioUsuario" name="BasicHttpBinding_IServicioUsuario" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_Colegio/ServicioDocente/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioDocente" contract="ProxyDocente.IServicioDocente" name="BasicHttpBinding_IServicioDocente" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_Colegio/ServicioCurso/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioCurso" contract="ProxyCurso.IServicioCurso" name="BasicHttpBinding_IServicioCurso" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="BDCOLEGIOEntities" connectionString="metadata=res://*/BDCOLEGIO.csdl|res://*/BDCOLEGIO.ssdl|res://*/BDCOLEGIO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7AHHNDB;initial catalog=BDCOLEGIO;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>